export(RDOE)
import(gWidgets)
import(grDevices)
import(graphics)
import(readxl)
import(REdaS)
import(multcomp)
import(nortest)
import(pander)
import(tcltk)
import(daewr)
import(utils)
importFrom(stats,TukeyHSD)
importFrom(stats,aov)
importFrom(stats,mad)
importFrom(stats,median)
importFrom(stats,var)
importFrom(stats,model.tables)
importFrom(stats,sd)


